*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host,
fieldset,
figure,
figcaption,
#xp-unit,
#rank {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

:host {
    flex-wrap: wrap;
    gap: var(--element-gap);
    justify-content: flex-start;
    min-height: 80vh;
    width: 20vw;
}

fieldset {
    align-items: center;
    background: var(--bg-trans-black);
    border: 1px solid #333;
    border-radius: var(--rounded-md);
    flex: 1;
    height: 19vh;
    /* max-width: 380px; */
    min-width: 180px;
    transition: .5s;
}

fieldset:hover {
    border: 2px solid var(--text-zone01-stats);
    transform: scale(1.1);
}

fieldset:hover .color-change {
    color: var(--text-zone01-bim);
}

figure {
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    /* gap: var(--element-gap); */
    width: 100%;
}

span:not(#first-name, #last-name) {
    align-items: center;
    border: 1px solid var(--text-dark-gray);
    border-radius: var(--rounded-md);
    display: flex;
    height: 75%;
    justify-content: center;
    width: 35%;
}

legend {
    color: var(--text-zone01-stats);
    font-weight: bolder;
    margin-left: 2vw;
}

figcaption {
    max-height: 75%;
    width: 40%;
}

#user {
    flex-direction: column;
    gap: 0.5vw;
    text-align: left;
}

#first-name, #last-name {
    text-align: left;
    width: 100%;
}

#last-name {
    font-size: var(--text-base);
    font-weight: bolder;
}

#xp-unit {
    color: var(--text-zone01-stats);
    /* font-size: calc(var(--text-xxl) * 1.5); */
}

#audit,
#level,
#xp-amount,
#xp-unit,
#profile {
    font-size: calc(var(--text-xxl) * 1.5);
    text-align: center;
}

#rank {
    font-size: var(--text-sm);
    text-align: center;
}

img {
    height: fit-content;
    width: fit-content;
}

hr {
    height: 75%;
    border: 1px solid #333;
    width: 0;
}

@media screen and (max-width: 900px) {
    :host {
        min-height: 20vh;
        width: 100%;
    }

    fieldset {
        height: 20vh;
    }
}

@media screen and (max-width: 830px) {
    fieldset {
        min-width: 30vw;
    }
}

@media screen and (max-width: 610px) {
    fieldset {
        min-width: 180px;
    }
}