*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--element-gap);
    /* height: 80vh; */
    justify-content: center;
    min-height: 80vh;
    width: 68vw;
}

fieldset {
    align-items: center;
    background: var(--bg-trans-black);
    border: 1px solid #333;
    border-radius: var(--rounded-md);
    display: flex;
    flex-direction: column;
    height: 39.75vh;
    justify-content: center;
    transition: .5s;
    width: 33.5vw;
}

fieldset:hover {
    border: 2px solid var(--text-zone01-stats);
    transform: scale(1.05);
}

fieldset:hover legend {
    color: var(--text-zone01-bim);
}

/* fieldset:active {
    background: #000000ee;
    transform: scale(1.5);
} */

legend {
    color: var(--text-zone01-stats);
    font-weight: bolder;
    margin-left: 2vw;
}

@media screen and (max-width: 900px) {
    :host {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    fieldset {
        flex: 1 1 40vw;
        min-width: 300px;
    }
}