:root {
    /* COLORS */
    --body-bg: url("img/background_dark.webp");
    --section-bg: #00000099;
    
    --color-base: #ffffff25;
    --color-highlight: #999999;

    /* FONTS */
    --font-12: clamp(.75rem, .75rem + .25vw, 1rem);
    --font-14: clamp(.875rem, .75rem + .5vw, 1.25rem);
    --font-16: clamp(1rem, .75rem + 1vw, 1.5rem);
    --font-18: clamp(1.125rem, .75rem + 1.5vw, 2rem);
    --font-20: clamp(1.25rem, .75rem + 2vw, 2.5rem);
}

* {
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--color-base);
    font-family: monospace;
    font-size: var(--font-12);
    justify-content: center;
    margin: 0;
    overflow: auto;
    padding: 0;
    scrollbar-width: none;
}

body {
    background: var(--body-bg);
    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 10vh 1fr 5vh;
}

/******************** GENERIC ********************/

