@import url(./variables.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    background: var(--bg-img);
    background-size: cover;
    color: var(--text-light-gray);
    display: grid;
    gap: var(--element-gap);
    grid-template-columns: 90vw;
    grid-template-rows: 10vh 1fr 5vh;
    font: var(--text-sm) var(--font-zone01);
    justify-content: center;
}

header {
    display: flex;
}

main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--element-gap);
    justify-content: space-between;
    min-height: 80vh;
}

footer {
    align-items: center;
    display: flex;
}

p {
    line-height: 100%;
    text-align: center;
    width: 100%;
}
